<?xml version="1.0"?>
<robot name="DJI_Matrice_100">

	<link name="robot_base_link">
	  <visual>
		<origin rpy="0 0 -1.57" xyz="0 0 0"/>
		<scale>0.001 0.001 0.001</scale>
	    <geometry>
	      <mesh filename="package://ars_robot_models/meshes/dji.dae" scale="0.01 0.01 0.01"/>

	    </geometry>
	<material name="blue">
 	<color rgb="0 0 200" alpha="0.5"/>
 	</material>
	  </visual>
	</link>


</robot>
